<!-- Choose Files -->
<div class="col-md-12" id="choosefiles" ng-controller="choosefilesCtrl">
	<div id="view-header">
		<h3>VÄLJ DE FILER DU VILL FILTRERA</h3>
	</div>
	<div class="col-md-8 offset-4" id="view-body">
		<div class="row" id="choosefiles-step">
			<div id="step">
				<h1>1</h1>
			</div>
			<div id="action">
				<p>VÄLJ STACKTRACE</p>
				<input type="file" ng-file-model="files" multiple />
			</div>
		</div>
		<div class="row" id="choosefiles-step">
			<div id="step">
				<h1>2</h1>
			</div>
			<div id="action">
				<p>VALDA FILER</p>
				<p ng-repeat="file in files">{{file.name}}</p>
			</div>
		</div>
		<div class="row" id="choosefiles-step">
			<div id="step">
				<h1>3</h1>
			</div>
			<div id="action">
				<p>TILL ÖVERSIKT</p>
				<button type="button" class="btn btn-default btn-sm"
					ng-click="uploadFile()">Fortsätt</button>
			</div>
		</div>
	</div>
</div>