<!-- Start Page -->
<div class="jumbotron">
	<div id="startpage-container">
		<h1>StackFilter</h1>
		<h3>Hitta lätt i stacktrace</h3>
		<div id="startpage-buttons">
			<button type="button" class="btn btn-dark btn-sm">
				<i class="fas fa-user-plus"></i> Registrera</button>
			<button type="button" class="btn btn-dark btn-sm">
				<i class="fas fa-sign-in-alt"></i> Logga in</button>
		</div>
		<div id="startpage-links">
			<button type="button" class="btn btn-link btn-sm">
				<i class="fas fa-key"></i> Glömt lösenord</button>
		</div>
	</div>
</div>
