/*** Global ***/
h1, h2, h3, h4, p, a , th, td{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	color: #84a2c3;
}
a {
    color: #383d41; !important;
}
.table td {
	color: #383d41; !important;
	text-align: center;
}
#view-header {
 	text-align: center;
    padding: 2%;
}
#view-body {
	padding-top: 3%;
}


/*** Navbar ***/
.navbar {
	box-shadow: 0px 0px 13px 0px; !important;
}
.navbar-light .navbar-brand {
    color: #84a2c3; !important;
}


/*** Start Page ***/
.jumbotron{
	background-color: #f3f9ff; !important;
}
#startpage-container {
	margin: auto;
    width: 50%;
    text-align: center;
}
#startpage-buttons {
	padding: 50px 0px 10px 0px;
}

/*** Login ***/
#login-form {
	margin-right: 50%;
}
#login-buttons {
	text-align: center;
} 


/*** Choose Files ***/
#choosefiles-step {
	    padding: 0px 0px 30px 0px;
}
#step {
	    padding: 0px 20px 0px 0px;
}

